<DOCTYPE! html>
<html>
<head>

  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">

  <title>Distributor - Lumber Supply Chain Operations</title>
  <meta name="description" content="Manage supply chain functionality of the Lumber Supply Chain Blockchain Solution that we build for Udacity.">

  <link href="/css/style.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

  <!-- Provide jQuery framework -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <style>
  body {
  font-family: Calibri;
  background-color: lightblue;
  }

  .container {
  padding: 20px 5%;
  }

  .container .nav ul {
    list-style: none;
  }

  .container .nav li {
    display: inline-block;
    margin-right: 45px;
  }

  .container div:not(.nav) {
  width: 48%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }

  .button {
  padding: 5px 12px;
  border: 0.5px solid lightgrey;
  background-color: #fff;
  display: inline-block;
  }

  .button:hover {
  cursor: hand;
  cursor: pointer;
  }

  form {
    
  }

  input {
    display: block;
    width: 100%;
    padding: 7px 12px;
    margin: 10px 5px;
  }
  </style>

</head>

<body>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="container">

<div class="nav">
  <ul>
    <a href="/harvester/"><li>Harvester</li></a>
    <a href="/manufacturer/"><li>Manufacturer</li></a>
    <a href="/distributor/"><li>Distributor</li></a>
    <a href="/retailer/"><li>Retailer</li></a>
    <a href="/consumer/"><li>Consumer</li></a>
    <a href="/consumer/"><li style="margin-left: 30px;">Fetch Item</li></a>
  </ul>
</div>

<h1>Distributor</h1>

<div>
<form>
<h3>Fetch Item Buffer One</h3>
<input type="number" name="" class="fetch1UPC" placeholder="upc">
<div class="button" id="fetchItem1Submit">Submit</div>
</form>

<form>
<h3>Fetch Item Buffer Two</h3>
<input type="number" name="" class="fetch2UPC" placeholder="upc">
<div class="button" id="fetchItem2Submit">Submit</div>
</form>

</div>

<div class="data">
SKU: <p id="itemSKU"></p>
UPC: <p id="itemUPC"></p>
Product ID: <p id="productID"></p>
Product Notes by Farmer: <p id="productNotes"></p>
Product Notes by Manufacturer: <p id="productNotesByManufacturer"></p>
Price: <p id="productPrice"></p>
Item State (Process): <p id="itemState"></p>
Item State (Material): <p id="itemState2"></p>
Manufacturer ID: <p id="manufacturerID"></p>
Distributor ID: <p id="distributorID"></p>
Retailer ID: <p id="retailerID"></p>
Consumer ID: <p id="consumerID"></p><br><br>
Owner ID: <p id="ownerID"></p>
Origin Harvester ID: <p id="originHarvesterID"></p>
Origin Harvester Name: <p id="originHarvesterName"></p>
Origin Harvester Information: <p id="originHarvesterInformation"></p>
Origin Harvester Latitude: <p id="originHarvesterLatitude"></p>
Origin Harvester Longitude: <p id="originHarvesterLongitude"></p>


</div>

</div>

<!-- Provide Web3 framework -->
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

<script>

// Connect to Ethereum Network/Blockchain
if (typeof web3 !== 'undefined') {
  web3 = new Web3(web3.currentProvider);
  console.log('We already have a provider.');
} else {
  web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545")); 
  console.log('We have set a new provider on Ganache chain at localhost:8454');
}

// Set the default account
web3.eth.defaultAccount = web3.eth.accounts[0];
console.log('Default account: ' + web3.eth.defaultAccount);

// Provide the ABI to interact with the smart contract
const SupplyChainContract = web3.eth.contract([
  {
    "constant": false,
    "inputs": [
      {
        "name": "account",
        "type": "address"
      }
    ],
    "name": "addConsumer",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "account",
        "type": "address"
      }
    ],
    "name": "addDistributor",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "account",
        "type": "address"
      }
    ],
    "name": "addHarvester",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "account",
        "type": "address"
      }
    ],
    "name": "addManufacturer",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "account",
        "type": "address"
      }
    ],
    "name": "addRetailer",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "buyLumber",
    "outputs": [],
    "payable": true,
    "stateMutability": "payable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "buyProductByDistributor",
    "outputs": [],
    "payable": true,
    "stateMutability": "payable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "buyProductByRetailer",
    "outputs": [],
    "payable": true,
    "stateMutability": "payable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      },
      {
        "name": "_originHarvesterID",
        "type": "address"
      },
      {
        "name": "_originHarvesterName",
        "type": "string"
      },
      {
        "name": "_originHarvesterInformation",
        "type": "string"
      },
      {
        "name": "_originHarvesterLatitude",
        "type": "string"
      },
      {
        "name": "_originHarvesterLongitude",
        "type": "string"
      },
      {
        "name": "_productNotes",
        "type": "string"
      }
    ],
    "name": "harvestLumber",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [],
    "name": "kill",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      },
      {
        "name": "_manufacturerNotes",
        "type": "string"
      }
    ],
    "name": "manufactureProduct",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "packageLumber",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "packageProduct",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "processLumber",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "purchase",
    "outputs": [],
    "payable": true,
    "stateMutability": "payable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "receiveLumber",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "receiveProduct",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [],
    "name": "renounceConsumer",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [],
    "name": "renounceDistributor",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [],
    "name": "renounceHarvester",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [],
    "name": "renounceManufacturer",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [],
    "name": "renounceOwnership",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [],
    "name": "renounceRetailer",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      },
      {
        "name": "_price",
        "type": "uint256"
      }
    ],
    "name": "sellLumber",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      },
      {
        "name": "_price",
        "type": "uint256"
      }
    ],
    "name": "sellProductByDistributor",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      },
      {
        "name": "_price",
        "type": "uint256"
      }
    ],
    "name": "sellProductByManufacturer",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      },
      {
        "name": "_price",
        "type": "uint256"
      }
    ],
    "name": "sellProductByRetailer",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "shipLumber",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "shipProductByDistributor",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "shipProductByManufacturer",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "shipProductByRetailer",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "newOwner",
        "type": "address"
      }
    ],
    "name": "transferOwnership",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "inputs": [],
    "payable": true,
    "stateMutability": "payable",
    "type": "constructor"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "Harvested",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "Processed",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "Packaged",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "ForSale",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "Sold",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "Shipped",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "Received",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "Manufactured",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "PackagedByManufacturer",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "ForSaleByManufacturer",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "SoldByManufacturer",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "ShippedByManufacturer",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "ForSaleByDistributor",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "SoldByDistributor",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "ShippedByDistributor",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "ForSaleByRetailer",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "Purchased",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "ShippedByRetailer",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "upc",
        "type": "uint256"
      }
    ],
    "name": "ReceivedByConsumer",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "previousOwner",
        "type": "address"
      },
      {
        "indexed": true,
        "name": "newOwner",
        "type": "address"
      }
    ],
    "name": "OwnershipTransferred",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "account",
        "type": "address"
      }
    ],
    "name": "ConsumerAdded",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "account",
        "type": "address"
      }
    ],
    "name": "ConsumerRemoved",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "account",
        "type": "address"
      }
    ],
    "name": "RetailerAdded",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "account",
        "type": "address"
      }
    ],
    "name": "RetailerRemoved",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "account",
        "type": "address"
      }
    ],
    "name": "DistributorAdded",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "account",
        "type": "address"
      }
    ],
    "name": "DistributorRemoved",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "account",
        "type": "address"
      }
    ],
    "name": "ManufacturerAdded",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "account",
        "type": "address"
      }
    ],
    "name": "ManufacturerRemoved",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "account",
        "type": "address"
      }
    ],
    "name": "HarvesterAdded",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "account",
        "type": "address"
      }
    ],
    "name": "HarvesterRemoved",
    "type": "event"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "fetchItemBufferOne",
    "outputs": [
      {
        "name": "itemSKU",
        "type": "uint256"
      },
      {
        "name": "itemUPC",
        "type": "uint256"
      },
      {
        "name": "ownerID",
        "type": "address"
      },
      {
        "name": "originHarvesterID",
        "type": "address"
      },
      {
        "name": "originHarvesterName",
        "type": "string"
      },
      {
        "name": "originHarvesterInformation",
        "type": "string"
      },
      {
        "name": "originHarvesterLatitude",
        "type": "string"
      },
      {
        "name": "originHarvesterLongitude",
        "type": "string"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "_upc",
        "type": "uint256"
      }
    ],
    "name": "fetchItemBufferTwo",
    "outputs": [
      {
        "name": "itemSKU",
        "type": "uint256"
      },
      {
        "name": "itemUPC",
        "type": "uint256"
      },
      {
        "name": "productID",
        "type": "uint256"
      },
      {
        "name": "productNotes",
        "type": "string"
      },
      {
        "name": "productNotesByManufacturer",
        "type": "string"
      },
      {
        "name": "productPrice",
        "type": "uint256"
      },
      {
        "name": "itemState",
        "type": "uint8"
      },
      {
        "name": "itemState2",
        "type": "uint8"
      },
      {
        "name": "manufacturerID",
        "type": "address"
      },
      {
        "name": "distributorID",
        "type": "address"
      },
      {
        "name": "retailerID",
        "type": "address"
      },
      {
        "name": "consumerID",
        "type": "address"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "account",
        "type": "address"
      }
    ],
    "name": "isConsumer",
    "outputs": [
      {
        "name": "",
        "type": "bool"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "account",
        "type": "address"
      }
    ],
    "name": "isDistributor",
    "outputs": [
      {
        "name": "",
        "type": "bool"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "account",
        "type": "address"
      }
    ],
    "name": "isHarvester",
    "outputs": [
      {
        "name": "",
        "type": "bool"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "account",
        "type": "address"
      }
    ],
    "name": "isManufacturer",
    "outputs": [
      {
        "name": "",
        "type": "bool"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [],
    "name": "isOwner",
    "outputs": [
      {
        "name": "",
        "type": "bool"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "account",
        "type": "address"
      }
    ],
    "name": "isRetailer",
    "outputs": [
      {
        "name": "",
        "type": "bool"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [],
    "name": "owner",
    "outputs": [
      {
        "name": "",
        "type": "address"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  }
]);

// Connect to the smart contract by providing its ethereum address
const SupplyChain = SupplyChainContract.at('0x55303749064bd75ab5fd04cd0b5fe74725382f74');

/* ============================================================================================================================
=========== Starting actual functionality =====================================================================================
============================================================================================================================ */

// Fetch Item1
const FetchItem1 = () => { SupplyChain.fetchItemBufferOne($('.fetch1UPC').val(), function(error, result) {
  if (error) {
    return error;
  } else { 
  $('.data p').text("");
    $('.data #itemSKU').text(result[0]);
    $('.data #itemUPC').text(result[1]);
    $('.data #ownerID').text(result[2]);
    $('.data #originHarvesterID').text(result[3]);
    $('.data #originHarvesterInformation').text(result[4]);
    $('.data #originHarvesterLatitude').text(result[5]);
    $('.data #originHarvesterLongitude').text(result[6])
  }
})};

// Fetch Item2
const FetchItem2 = () => { SupplyChain.fetchItemBufferTwo($('.fetch2UPC').val(), function(error, result) {
  if (error) {
    return error;
  } else { 
  $('.data p').text("");
    $('.data #itemSKU').text(result[0]);
    $('.data #itemUPC').text(result[1]);
    $('.data #productID').text(result[2]);
    $('.data #productNotes').text(result[3]);
    $('.data #productNotesByManufacturer').text(result[4]);
    $('.data #productPrice').text(result[5]);
    $('.data #manufacturerID').text(result[8]);
    $('.data #distributorID').text(result[9]);
    $('.data #retailerID').text(result[10]);
    $('.data #consumerID').text(result[10]);
    let State = "";
    let MaterialState = "";

    if (result[7] == 1) {
      MaterialState = "Product";
    } else {
    MaterialState = "Lumber"
    }

    switch (Number(result[6])) {
      case 0:
      State = "Harvested";  
      break;                
      case 1:
      State = "Processed";
      break;             
      case 2:
      State = "Packaged";    
      break;            
      case 3:
      State = "ForSale";    
      break;              
      case 4:
      State = "Sold";     
      break;            
      case 5:
      State = "Shipped";    
      break;             
      case 6:
      State = "Received";  
      break;               
      case 7:
      State = "Manufactured";  
      break;         
      case 8:
      State = "PackagedByManufacturer"; 
      break;   
      case 9:
      State = "ForSaleByManufacturer";  
      break;    
      case 10:
      State = "SoldByManufacturer";    
      break;     
      case 11:
      State = "ShippedByManufacturer";   
      break;  
      case 12:
      State = "ForSaleByDistributor";
      break;       
      case 13:
      State = "SoldByDistributor"; 
      break;        
      case 14:
      State = "ShippedByDistributor";  
      break;   
      case 15:
      State = "ForSaleByRetailer";    
      break;    
      case 16:
      State = "Purchased";   
      break;            
      case 17:
      State = "ShippedByRetailer";  
      break;      
      case 18:
      State = "ReceivedByConsumer"; 
      break;  
      default:
      State = "Harvested";
    }

    $('.data #itemState').text(State);
    $('.data #itemState2').text(MaterialState);
  }
})};


$('#fetchItem1Submit').click( function() {
  FetchItem1();
})

$('#fetchItem2Submit').click( function() {
  FetchItem2();
})


</script>

</body>

</html>