<DOCTYPE! html>
<html>
<head>

  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">

  <title>Lumber Supply Chain Operations - </title>
  <meta name="description" content="Manage supply chain functionality of the Lumber Supply Chain Blockchain Solution that we build for Udacity.">

  <link href="/css/style.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

  <!-- Provide jQuery framework -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <style>
  body {
  font-family: Calibri;
  background-color: lightblue;
  }

  .container {
  padding: 20px 5%;
  }

  .container .nav ul {
    list-style: none;
  }

  .container .nav li {
    display: inline-block;
    margin-right: 45px;
  }

  .container div:not(.nav) {
  width: 48%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }

  form {
    
  }

  input {
    display: block;
    width: 100%;
    padding: 7px 12px;
    margin: 10px 5px;
  }
  </style>

</head>

<body>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="container">

<div class="nav">
  <ul>
    <a href="/harvester/"><li>Harvester</li></a>
    <a href="/manufacturer/"><li>Manufacturer</li></a>
    <a href="/distributor/"><li>Distributor</li></a>
    <a href="/retailer/"><li>Retailer</li></a>
    <a href="/consumer/"><li>Consumer</li></a>
  </ul>
</div>

<h1>Harvester</h1>

<div>
<form>
<h3>Harvest</h3>
<input type="text" name="upc" class="upc" placeholder="upc">
<input type="text" name="harvesterID" class="harvesterID" placeholder="Harvester Id">
<input type="text" name="harvesterName" class="harvesterName" placeholder="Harvester Name ">
<input type="text" name="harvesterInformation" class="harvesterInformation" placeholder="Harvester Information">
<input type="text" name="latitude" class="latitude" placeholder="Latitude">
<input type="text" name="longitude" class="longitude" placeholder="Longitude">
<input type="text" name="productNotes" class="productNotes" placeholder="Product Notes">
<input type="submit" name="">
</form>
</div>

<div>
<form>
<h3>Process</h3>
<input type="text" name="" class="upc" placeholder="upc">
<input type="submit" name="" id="processSubmit">
</form>

<form>
<h3>Package</h3>
<input type="text" name="" class="upc" placeholder="upc">
<input type="submit" name="" id="packageSubmit">
</form>

<form>
<h3>Sell</h3>
<input type="text" name="" class="upc" placeholder="upc">
<input type="submit" name="" id="sellSubmit">
</form>

<form>
<h3>Ship</h3>
<input type="text" name="" class="upc" placeholder="upc">
<input type="submit" name="" id="shipSubmit">
</form>
</div>

</div>

</body>

</html>