<DOCTYPE! html>
<html>
<head>

  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">

  <title>Lumber Supply Chain Operations - </title>
  <meta name="description" content="Manage supply chain functionality of the Lumber Supply Chain Blockchain Solution that we build for Udacity.">

  <link href="/css/style.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

  <!-- Provide jQuery framework -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="container">

<form>
<input type="text" name="" id="" placeholder="">
<input type="text" name="" id="" placeholder="">
<input type="text" name="" id="" placeholder="">
<input type="text" name="" id="" placeholder="">
<input type="text" name="" id="" placeholder="">
<input type="text" name="" id="" placeholder="">
<input type="text" name="" id="" placeholder="">

</form>
</div>

</body>

</html>