<DOCTYPE! html>
<html>
<head>

  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">

  <title>Lumber Supply Chain Operations - </title>
  <meta name="description" content="Manage supply chain functionality of the Lumber Supply Chain Blockchain Solution that we build for Udacity.">

  <link href="/css/style.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

  <!-- Provide jQuery framework -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <style>
  body {
  font-family: Calibri;
  background-color: lightblue;
  }

  .container {
  padding: 20px 5%;
  }

  .container .nav ul {
    list-style: none;
  }

  .container .nav li {
    display: inline-block;
    margin-right: 45px;
  }

  .container div:not(.nav) {
  width: 48%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }

  form {
    
  }

  input {
    display: block;
    width: 100%;
    padding: 7px 12px;
    margin: 10px 5px;
  }
  </style>

</head>

<body>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="container">

<div class="nav">
  <ul>
    <a href="/harvester/"><li>Harvester</li></a>
    <a href="/manufacturer/"><li>Manufacturer</li></a>
    <a href="/distributor/"><li>Distributor</li></a>
    <a href="/retailer/"><li>Retailer</li></a>
    <a href="/consumer/"><li>Consumer</li></a>
  </ul>
</div>

<h1>Lumber Supply Chain</h1>
<p>Use one of the navigation links up top to open up functionality.</p>


</div>

</body>

</html>